#header
{
	background-color: #4172AA;
	overflow: hidden;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

#logo
{
	border-radius: 50px 50px;
	margin-top: 20px;
	margin-left: 30px;
}

.header_right
{
	text-align: right;
	margin-top: 15px;
	margin-right: 20px;
	float: right;
	color: white;
	text-decoration: none;
}

#pages
{
	margin-left: 380px;
}

#header_ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header_ul li
{
	float: left;
	margin-left: 1px;
	margin-right: 1px;
	background-color: #4C87BF;
}

#header_ul li a
{
	display: block;
    color: white;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}

#ul {
  list-style: none;
  float: right;   
}

#signin,
#signup,
#help,
#about 
{
  float: left;          
}


#signinTrigger,
#signupTrigger,
#help a,
#about a
{
  display: inline-block;
  display: inline;
  height: 25px;
  padding: 0 10px;
  text-decoration: none;
  color: white;
}

.adminContent
{
  display: none;
  position: absolute; 
  padding: 15px;
  border-radius: 3px 0 3px 3px;
  right: 216px;
  width: 250px;
  border-radius: 3px 0 0 3px;
  border: solid black;
}

/*--------------------*/

.inputs input
{
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

.inputs input:focus
{
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

#question
{
  color: #6A6A6A;
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.inputs input::-webkit-input-placeholder
{
  color: #6A6A6A;
}
.inputs input:-moz-placeholder
{
  color: #6A6A6A;
}
.inputs input::-moz-placeholder
{
  color: #6A6A6A;
}
.inputs input:-ms-input-placeholder
{
  color: #6A6A6A;
}

/*--------------------*/

#signin .actions,
#signup .actions 
{
  margin: 10px 0 0 0;
}

.submit 
{    
  background-color: #d14545;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#signin label a
{
  float: right;
  line-height: 30px;
  text-decoration: none;
}

#signin input
#signup input
{
  position: relative;
  top: 2px;
  right: 2px;
  float: right;
  line-height: 30px;
}