#main
{
	background-color: white;
	overflow: hidden;
	margin-left: -8px;
	margin-right: -8px;
}

#events
{
	margin-top: 30px;
	margin-left: 256px;
}

#events_ul
{
	list-style-type: none;
}

#events_ul li
{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
}

#events_ul li button
{
    color: #4C87BF;
    outline: 0;
    float: left;
    padding: 5px 20px;
    padding-left: 30px;
    border-radius: 10px;
	border-style: solid;
    border-width: 2px;
    border-color: silver;
    background-color: white;
}

#events_ul li button:active {
	position: relative;
	top: 1px;
}

.input_events
{
	background-image: url("../resources/plus.jpg");
    background-repeat: no-repeat;
    background-position: 8px;
}

#third_li
{
	float: left;
	background-image: url("../resources/dropDownIcon.png");
	background-repeat: no-repeat;
	background-position: 100px;
}

#basic_info
{
	margin-top: 90px;
	margin-left: 262px;
}

#basic_info_ul
{
	list-style-type: none;
}

#basic_info_ul li
{
	float: left;
	background-color: white;
	text-align: center;
	width: 120px;
}

#basic_info_ul li a
{
    color: #3096AC;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
}