<!DOCTYPE html>
<HEAD>
	<TITLE>ERROR</TITLE>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</HEAD>
	<BODY>
		<div id="errorBody">
		    <div id="errorTemplate">
		    	<h1><%-errorCode%> <%-errorMessage%></h1>
                <h3><%-message%></h3>
                <form action="http://localhost:8080" method="get">
			        <div>
			        	<input type="submit" class="submit" value="Home">
			        </div>
	        	</form>
		    </div>
		    <div id="footer">
		    	<footer>
				 	<p>Posted by: Zhirayr Stepanyan</p>
					<p>Contact information: jirayrstepanyanim@gmail.com</p>
				</footer>
		    </div>
		</div>
    </body>
</html>